* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    color: black;
}

body a{
    color: blue;
}

header nav{
    float: right;
    /* margin-bottom: 25px; */
    padding: 10px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

.headers{
    float: left;
    margin-right: 25px; 
    width: 25%;
    border-right: solid;
    border-width: 5px;
    max-height: 80%;

}
.headers div{
    height: 300px;
    width: 25vw;
    text-align: right;
    margin-top: 25px;
    padding: 10px;
}

article{
    margin-top: 20px;
    margin-bottom: 20px;
    /* padding: 50px; */
    height: 300px;
}

.contents{
    width: 70%;
    float: right;
}


#About-Me img{
    max-height: 250px;
    margin-top: 25px;
    /* margin-bottom: 25px; */
}

#About-Me p{
    padding: 25px;
}

#Portfolio img{
    display: inline-block;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: auto;
    border-style: dashed;
    border-width: 2px;

}

footer{
    position: relative;
    bottom: 25px;
    width: 100%;
}

footer h3{
    bottom: 0;
    float: left;
}

footer ul{
    float: right;
    padding: 10px;
}

footer ul li{
    display: inline-block;
    margin-left: 25px;
}


.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

h1{
    font-size: 48px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 24px;
}

@media screen and (max-width: 200px) {
    header {
        display: inline-block;
    }
    .Portfolio{
        max-width: 100vw;
        max-height: 100vh;
    }

}